<div class="card" (click)="openKaspi()">
    <div class="upper">
        <img [src]="product.image">
        <h3>{{ product.name }}</h3>
    </div>
    <div class="lower">
        <span>{{ product.price }} ₸</span>
        <span>⭐ {{ product.rating }}</span>
        <div><p>{{ product.description }}</p></div>
        
        <button (click) = "shareWhatsApp($event)">Share</button>
        <div class="dellike">
            <button class="like but" (click)="like($event)" [class.activebut]="product.likedByUser">❤️ {{ product.likes }}</button>
            <button class="delete but" (click)="delete($event)">🗑️</button>
        </div>
    </div>
</div>