.main{
    color:#1f2328;
    display: flex;
    flex-direction: column;
    font-family: "Mona Sans","Mona Sans Header Fallback",-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    padding: 0 15px;
    
}
.block{
    box-sizing: border-box;
    max-width: 1280px;
    margin: 0 auto;
    width: 100%;
}
.header{
    
    padding-top: 100px;
    text-align: center;
    padding-bottom: 65px;
}
.sub-header{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding-left: 150px;
    padding-right: 150px;
    
}
.button1{
    padding: 12px 24px;
    font-size: 16px;
    margin: 0 auto;
    margin-top: 30px;
     cursor: pointer;
     font-weight: 500;
     
    
}
.button-black{
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0) 100%), #1b1f23;
    border-radius: 5px;
    border-style: none;
    color: white;
    font-family: "Segoe UI";
}
.button-white{
    border-radius: 5px;
    border-width: 1px;
    background-color: white;
    border-color: #a1a7ad;
    font-family: "Segoe UI";
}
.column-button{
    
    cursor: pointer;
    width:100%;
    padding: 1rem 1.5rem;
    font-size: 1rem;
    font-weight: 700;
}
.buttons2{
    display: flex;
    gap: 15px;
    
    align-items: center;
}
.column3-1{
    margin-top: -3px;
    flex: 1;
    padding: 1rem 0.5rem;
    
}
h1{
    letter-spacing: -0.03em;
    font-size: 64px;
    font-family: "Segoe UI";
}
.par{
    font-size: 16px;
}
.bold{
    font-weight: 500;
}
.columns{
    
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 0 20px;
}
.column{
    color: #1f2328;
    overflow: hidden;
    background-color: #f6f8fa;
    height: 100%;
    flex: 1;
    border-radius: 15px;
    box-shadow: 0 0 0 1px #d1d9e0, 0 56px 112px 0 #25292e52;

}
.col{
    border: 1px gray solid;
}
.col1{
    margin: 0 5px;
    margin-top: 20px;
    
}
.starting{
    position: relative;
    top: 10px;
    color: #a1a7ad;
    border: 1px #a1a7ad solid;
    border-radius: 10px;
    padding: 3px 14px;
}
h6{
    text-align: center;
    margin: 0;
    margin: 10px 0;
}

.wrapper{
    padding: 0 6px;
    padding-bottom: 6px;
    background-color: #0d72e7;
    color: white;
    
    
}
.wrapper h6{
    font-size: 14px;
    line-height: 13px;
}
.wrap{
    flex: 1;
    padding: 0 6px;
    padding-top: 34px;
    padding-bottom: 6px;
    

}
.hat{
    background-color: white;
    padding:24px 16px;
    text-align: center;
}
h3{
    font-size: 24px;
    margin: 0; 
    line-height: 28px;
    margin-bottom: 5px;
}
.subtext{
    line-height: 1;
    font-size: 14px;
    color: #a1a7ad;
    font-weight: 400;
    
}
.Heading{
    padding-bottom: 21px;
}
.cost{
    font-size: 48px;
}
.dollar{
    color: #59636e;
    position: relative;
    top: -0.5em;
    line-height: 48px;
    font-size: 1.25rem;
}
.usd{
    font-size: 24px;
    font-weight: 500;
}
.per{
    position: relative;
    top: -0.65em;
    font-size: 1rem;
    color: #59636e;
}
.Price{
    margin-bottom: 15px;
}
.block-body{
    display: flex;
    flex: 1;
    flex-direction: column; 
    padding: 8px 16px;  
}
ul{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
    font-size: 14px;
    font-weight: 700;
    color: #59636e;
    padding: 8px 0;
}

.chevron {
    position: relative;
    top: 4px;
  width: 16px;
  height: 16px;
  fill: currentColor;
}
.subli{
    position: relative;
    font-size: 12px;
    font-weight: 400;
    left:20px;
    color: #59636e;
}
h4{
    color:#0d72e7;
    margin-bottom: 0;
    font-weight: 600;
}
.included{
    display: flex;
    font-weight: 400;
    margin: 8px 0;
}
.arrow-left{
    width:16px;
    height: 16px;
    position: relative;
    top: 3px;
    margin-right: 15px;
}
.align{
    text-align: center;
    
}
.small-cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-bottom: 200px;
    padding: 0 15px;
}
.icon{
    width: 20px;
    height: 20px;
    
}
.circle-icon{
    box-sizing: border-box;
    display: flex;
  align-items: center;     
  justify-content: center;
    padding: 8px;
    border-radius: 100%;
    width: 44px;
    height: 44px;
    
}
.circ1{
    background-color: #fbefff;
}
.circ2{
    background-color: #dafbe1;;
}
.circ3{
    background-color: #ddf4ff;
}
.circ4{
    background-color: #ffeff7;
}
.circ5{
    background-color: #fff1e5;
}
.circ6{
    background-color: #fff8c5;
}
.ic1{
    fill: #8250df;
}
.ic2{
    fill: #258641;
}
.ic3{
    fill: #0969da;
}
.ic4{
    fill: #bf3989;
}
.ic5{
    fill: #bc4c00;
}
.ic6{
    fill: #9a6700;
}
.top-small-card{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.small-card{
    box-sizing: border-box;
    padding:32px;
    border: 1px #dcdfe2 solid;
    border-radius: 7px;
    box-shadow: 0 0 0 1px rgba(53, 72, 91, .14), 0 3px 2px rgba(0, 0, 0, .04), 0 7px 5px rgba(0, 0, 0, .02), 0 13px 10px rgba(0, 0, 0, .02), 0 22px 17px rgba(0, 0, 0, .02) ;
}
.small-card:hover{
    cursor: pointer;
}

.New{
    font-size: 0.75rem;
    
    color:#258641;
    border: 1px #258641 solid;
    border-radius: 15px;
    line-height: 18px;
    padding: 4px 8px;

}
.card{
    font-size: 20px;
    line-height: 24px;
    padding: 15px 0;
    margin: 0;
}
.par-small-card{
    font-size: 16px;
    line-height: 24px;
    color: #59636e;
    margin:auto 0;
}
h5{
    font-size: 16px;
    line-height: 24px;
    margin: 0;
}
.footer{
    margin-top: 16px;
    display: flex;
    flex-direction: row;
    
    height: 24px;
    
}
.ch{
    top:8px;
    left: 4px;
}
.bottom-small-card{
    box-sizing: border-box;
    height: 80%;
    display: flex;
    flex-direction: column;
    
}
@media (max-width: 1280px) {
    .buttons2{
        flex-direction: column;
    }
    .button-black{
        order: 1;
    }
    .button-white{
        order: 0;
    }
}
@media (max-width: 1010px) {
    .columns{
        flex-direction: column;
    }
    h1{
        font-size: 48px;
    }
    .header{
        padding-bottom: 30px;
    }
}
@media (max-width: 767px){
    .small-cards{
        grid-template-columns: 1fr;
    }
    h1{
        font-size: 32px;
    }
    .head{
        font-size: 20px;
    }
}